/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* //////////////////////////////////////////////////////// */

* {
	outline: 1px yellow solid;
	color: aliceblue;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	flex-direction: column;
}

#title {
	width: 100vw;
	height: 10vh;
	font-size:7vh;
	color: pink;
}

#names {
	width: 100vw;
	height: 10vh;
	justify-content: center;
	gap: 120px;
	font-size: 4vh;
}

.name {
	min-width: 400px;
	max-width: 400px;
	margin-bottom: -40px;
}

#boardzone {
	width: 100vw;
	height: 45vh;
	justify-content: center;
	gap: 120px;
}

.board {
	width: 400px;
	height: 40vh;
	min-width: 400px;
	min-height: 400px;
	flex-wrap: wrap;
	outline: 2px rgb(255, 192, 203) solid;
}

.cell {
	width: 40px;
	height: 4vh;
	margin: 0px;
	padding: 0px;
	outline: 1px rgb(255, 192, 203, 0.25) solid;
}

#control-panel {
	width: 100vw;
	height: 35vh;
}